.glitchText{
    transition: all .4s ease-in-out;
    overflow: hidden;
    color: white;
    font-size: x-large;
    font-family: 'Space Mono', monospace;
}

.glitchText:hover{
    background-color: white;
    color: black;
    
}
